/* ----------------------------------------------------------------------------------------- */
/* Reset */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------------------------------------------------------- */
/* Body, header and Container */

body{
    width: 100%;
    height: 100vh;
    background-color: #EFEFEF;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

header{
    position: absolute;
    width: auto;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #E67164;
    background: #E67164;
}

.header-title h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1em;
    font-size: 1em;
    color: #FFFFFF;
}



/* ----------------------------------------------------------------------------------------- */
/* Vouchers and cards */

.voucher{
    width: 40vh;
    height: 75vh;
    margin-top: 20%;
}

.voucher-pdf{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #FFFFFF;
}

.voucher-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

#info-voucher-title{
    font-size: 1em;
}

.voucher-info p{
    margin: 5px;
    font-size: 10px;
}

#voucher-dados-info-data{
    margin-left: 70px;
}

.btn-voucher img{
    cursor: pointer;
    width: 70px;
    margin-bottom: 30px;
}
/* ----------------------------------------------------------------------------------------- */
/* Footer */
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color:#E67164;
    height: 50px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

/* ----------------------------------------------------------------------------------------- */
/* Footer */

@media (min-width: 280px) and (max-width: 1024px){
    .voucher-logo img{
        display: none;
    }
}

@media screen and (min-width: 1200px) {

    .container{
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 15%;
    }

    .voucher{
        width: auto;
        height: auto;
        margin-top: 5%;
    }

    .btn-voucher{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }

    .btn-voucher img{
        width: 90px;
    }

    .voucher-logo img{
        display: none;
        margin-top: 20%;
        margin-left: 50%;
    }

   }