/* ----------------------------------------------------------------------------------------- */
/* Reset */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------------------------------------------------------- */
/* Body, header and Container */

body{
    width: 100%;
    height: 100vh;
    background-color: #EFEFEF;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

header{
    position: absolute;
    width: auto;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #E67164;
    background: #E67164;
}

.header-title h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1em;
    font-size: 1em;
    color: #FFFFFF;
}



/* ----------------------------------------------------------------------------------------- */
/* Vouchers and cards */

.voucher{
    width: 40vh;
    height: 70vh;
    margin-top: 20%;
    border: solid red 2px;
}

.voucher-pdf{
    width: 40vh;
    height: 70vh;
    position: relative;
    background: #FFFFFF;
}

.btn-voucher img{
    cursor: pointer;
    width: 70px;
    margin-bottom: 30px;
}
/* ----------------------------------------------------------------------------------------- */
/* Footer */
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color:#E67164;
    height: 50px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

/* ----------------------------------------------------------------------------------------- */
/* Footer */
  
@media screen and (min-width: 320px) {

   }

@media screen and (max-width: 1024px) {
    
    .voucher-logo img{
        display: none;
    }     

}

@media screen and (min-width: 1200px) {

    .container{
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 15%;
    }

    .voucher{
        margin-top: 0%;
    }

    .btn-voucher{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }

    .btn-voucher img{
        width: 100px;
    }

    .voucher-logo img{
        margin-top: 30%;
        margin-left: 40%;
    }

   }

   @media screen and (min-width: 1500px) {
        
    .container{
        margin-left: 35%;
    }
    .voucher{
        margin-top: 10%;
    }
}