/* ----------------------------------------------------------------------------------------- */
/* Reset */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------------------------------------------------------- */
/* Body, header and Container */

body{
    background-color: #EFEFEF;
    overflow: hidden;
    max-width: 1700px;
}

.container{
    
}


header{
    position: absolute;
    width: auto;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #E67164;
    background: #E67164;
    z-index: 2;
}

.header-title h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1em;
    font-size: 1em;
    color: #FFFFFF;
}

/* ----------------------------------------------------------------------------------------- */
/* Vouchers and cards */

#container-voucher{
    margin-left: 10%;
    background-color: #FFFFFF;
    margin-top: 5%;
    width: 400px;
    height: 500px;
}

#logo-voucher{
    margin-left: 35%;
    margin-top: 2%;
    width: 120px;
    height: 50px;
}

#title-voucher{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 13px;
    width: auto;
    height: auto;
}

#separation-voucher{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #E67164;
}

#content-voucher{
    display: grid;
    margin-left: 15px;
    grid-template-columns: 2fr 1fr;
    grid-column: 2;
}

#content-voucher-text{
   color: #E67164;
}

#content-voucher-text-simple{
    margin-top:5px;
    color: black;
    font-size: 0.6em;
    margin-bottom: 10px;
}

#content-voucher-client-recipient{
    color: #E67164;
    margin-left: 10px;
    font-size: 0.8em;
}
/* ----------------------------------------------------------------------------------------- */
/*  */

.btn-voucher{
    margin-top: 200px;
    margin-left: 40%;
}


.logo-background img{
    position: absolute;
    width: 400px;
    height: 600px;
    left: 920px;
    top: 80px;
    z-index: -1;
}


  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color:#E67164;
    width: auto;
    height: 70px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

/* ----------------------------------------------------------------------------------------- */
/* Telas Pequenas */
@media (min-width: 249px) and (max-width: 480px) 
{

}

/* ----------------------------------------------------------------------------------------- */
/* Telas Médias */
@media (min-width: 400px)  and (max-width: 1024px) 
{


.logo-background img{
    display: none;
}

}

/* ----------------------------------------------------------------------------------------- */
/* Telas Grandes */
@media screen and (min-width: 1024px) 
{

    footer{
        height: 50px;
    }

}

/* Geral */
  