/* ----------------------------------------------------------------------------------------- */
/* Reset */

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

/* ----------------------------------------------------------------------------------------- */
/* Body, header and Container */

body{
    width: 100%;
    height: 100vh;
    background-color: #EFEFEF;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

header{
    position: absolute;
    width: auto;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #E67164;
    background: #E67164;
}

.header-title h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1em;
    font-size: 1.5em;
    color: #FFFFFF;
}

/* ----------------------------------------------------------------------------------------- */
/* Vouchers and cards */

.voucher{
    width: 40vh;
    height: 75vh;
    margin-top: 20%;
    background-image: url(images/base.svg);
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.7;
}

.voucher-pdf{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
}

.voucher-pdf{
    align-items: flex-start;
    margin-left: 10px;
}

.voucher-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.voucher-title{
    margin-left: 2px;
    color: #E67164;
}

.voucher-separation{
    color: #E67164;
    font-size: 2em;
}

#info-voucher-title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1em;
}

.voucher-info p{
    margin: 5px;
    font-size: 10px;
}

.voucher-dados p{
    font-size: 0.7em;
}

.voucher-dados-info p{
    font-weight: bold;
}

#voucher-dados-info-data{
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 5px;  
  
}

#voucher-dados-info-value{
    font-size: 1.5em;
    color: #E67164;
}

#voucher-value-total{
    font-size: 2em;
    color:#E67164;
    font-weight: 600;

}

#Logo-Conpay{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-voucher img{
    cursor: pointer;
    width: 70px;
    margin-bottom: 30px;
}

.bnt-voucher-mobile{
    margin: auto;
}

.voucher-footer{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.info-atendimento{
    color: #E67164;
}

.info-links{
    margin-top: 15px;
    color: #E67164;
}

.info-links img{
    margin-top: 10px;
    margin-left: 5px;
}

#logo-footer{
    width: 80px;
}

#icon-fone{
    width: 12px;
}

#icon-wapp{
    width: 12px;
}
/* ----------------------------------------------------------------------------------------- */
/* Footer */
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    color:#E67164;
    height: 50px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* ----------------------------------------------------------------------------------------- */
/* Footer */

@media (min-width: 280px) and (max-width: 1024px){
    body{
        font-size: 0.7em;
    }

    .voucher{
        margin-top: 80px;
        background-size: 100%;
    }

    .logo-fundo{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
    }

    #fundo img{
        width: 350px;
    }

    #Logo-Conpay{
        width: 100px;
    }


    #voucher-dados-info{
        font-size: 0.8em;
    }

    .voucher-value p{
        font-size: 0.8em;
    }

    .btn-voucher{
        display: none;
    }

    .bnt-voucher-mobile button{
        margin-top: 10px;
        background-color:#E67164;
        width: 320px;
        height: 40px;
        border: none;
        border-radius: 20px;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 1200px) {

    body{
        font-size: 0.6em;
    }

    .container{
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 15%;
    }

    .voucher{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        margin-top: 5%;
        margin-left: 200px;
        background-size: 100% 100%;
    }

    .voucher-pdf{
        width: 80%;
        height: 90%;
        font-size: 1em;
    }

    .logo-fundo{
        position: absolute;
        left: 50%;
        top: 10vh;
        z-index: -1;
    }

    .voucher-title{
        font-weight: 700;
        margin-top: 10px;
        font-size: 1.2em;
    }

    #voucher-dados-info-value{
        font-size: 2em;
        font-weight: 600;
    }

    .voucher-info p{
        font-size: 1.2em;
    }
    .voucher-value p{
        font-size: 1.2em;
    }

    .btn-voucher{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5%;
    }

    .btn-voucher a{
        font-size: 1.5em;
        text-decoration: none;
        color: #E67164;
        margin-left: 5px;
        margin-top: 35px;
    }

    .btn-voucher img{
        width: 90px;
    }

    #Logo-Conpay{
        width: 130px;
    }

    .bnt-voucher-mobile{
        display: none;
    }
}