<div class="container">

    <section class="logo-fundo"> 
       <div id="fundo">
            <img src="../assets/images/Caminho 227.svg" alt="">
        </div> 
    </section>

    <section class="voucher">
        <div class="voucher-pdf">
            <img id="Logo-Conpay" src="../assets/images/logo-sem-slogan.svg" alt="Logo Conpay">
            <h3 id="info-voucher-title">Comprovante de transferência</h3>
            <div class="voucher-separation"><img src="../assets/images/line.svg" alt=""></div>
           <!--Inicio-->
            <div class="voucher-info">
                <div class="voucher-dados">
                    <p id="voucher-dados-info-value">Transferência</p>
                    <!--<p id="voucher-dados-info">Desconto(-):</p>
                    <p id="voucher-dados-info">Juros/Mora(+):</p>
                    <p id="voucher-dados-info">Multa(+):</p>
                    <p id="voucher-dados-info">Total de encargos(=):</p>  -->
                    <p id="voucher-dados-info-data">Relizada em: {{transfer.dataRegistro | date: 'dd/MM/yyyy HH:mm:ss' | NullValue}} às 00:00</p>
                   
                    <p id="voucher-dados-info-data">Situação: 
                        <span *ngIf="transfer.situacao=='Aguardando Envio'"
                            class="label label-info">{{transfer.situacao}}</span>
                        <span *ngIf="transfer.situacao=='Em análise bancária'"
                            class="label label-info">{{transfer.situacao}}</span>
                        <span *ngIf="transfer.situacao=='Transferência aprovada'"
                            class="label label-success">{{transfer.situacao}}</span>
                        <span *ngIf="transfer.situacao=='Transferência negada'"
                            class="label label-danger">{{transfer.situacao}}</span>
                        <span *ngIf="transfer.situacao=='Transferência retornada'"
                            class="label label-warning">{{transfer.situacao}}</span>
                        <span *ngIf="transfer.situacao=='Transferência cancelada'"
                            class="label label-warning">{{transfer.situacao}}</span>
                    </p>
                </div>

                <div class="voucher-value">
                    <p id="voucher-value-total">{{transfer.valor | BRLValue}}</p>
                   <!-- <p>R$ 00,00</p>
                    <p>R$ 00,00</p>
                    <p>R$ 00,00</p>
                    <p>R$ 00,00</p> -->
                </div>
            </div>
            <div class="voucher-separation"><img src="../assets/images/line.svg" alt=""></div>

            <div class="voucher-title">Origem</div>

            <div class="voucher-info">
                <div class="voucher-dados">
                    <p id="voucher-dados-info">Nome:</p>
                    <p id="voucher-dados-info">CPF/CNPJ:</p>
                </div>

                <div class="voucher-value">
                    <p>Tulyo de Tárcio Ribeiro Chaves</p>
                    <p>000.000.000-00</p>

                </div>
            </div>

            <div class="voucher-title">Destino</div>

            <div class="voucher-info">
                <div class="voucher-dados">
                    <p id="voucher-dados-info">Banco:</p>
                    <p id="voucher-dados-info">Agência:</p>
                    <p id="voucher-dados-info">Conta:</p>
                    <p id="voucher-dados-info">Razão Social:</p>
                    <p id="voucher-dados-info">CPF/CNPJ:</p>
                  <!--  <p id="voucher-dados-info">Descrição:</p> -->
                </div>

                <div class="voucher-value">
                    <p>{{bank.name}}</p>
                    <p>{{transfer.codAgencia}}</p>
                    <p>{{transfer.numConta}}-{{transfer.digitoConta}}</p>
                    <p>{{transfer.razaoSocial}}</p>
                    <p>{{transfer.numeroDocumento | BillCpfCnpj}}</p>
                 <!--   <p>Conta de água</p> -->

                </div>
            </div>
           
           <!-- <div class="voucher-info">
                <div class="voucher-dados">
                    <p id="voucher-dados-info">Linha digitável:</p>
                </div>

                <div class="voucher-value">
                    <p>46456.51464.6546546.54654846.00004.9
                        545454546565558</p>
                </div>
            </div> -->

            <div class="voucher-separation"><img src="../assets/images/line.svg" alt=""></div>
            
            <div class="voucher-info">
                <div class="voucher-dados">
                    <p id="voucher-dados-info">Autenticação:</p>
                </div>

                <div class="voucher-value">
                    <p>xxxxx-xxxxxx-xxx-xxx-xxxxx</p>
                </div>
            </div>

            <div class="voucher-separation"><img src="../assets/images/line.svg" alt=""></div>
            <div class="voucher-footer">
                <div class="info-atendimento">
                    <img id="logo-footer" src="../assets/images/logo-sem-slogan.svg" alt="Logo Conpay">
                    <p>Central de atendimento</p>
                    <span><img id="icon-fone" src="../assets/images/Icon awesome-phone-alt.svg" alt="logo telefone">  0800 887 0612</span>
                    <br>
                    <span><img id="icon-wapp" src="../assets/images/whatsapp.svg" alt="logo Wapp">  (11) 99532-4675</span>
                </div>
                <div class="info-links">
                    <p id="info-links-text">Faça sua conta digital!</p>
                    <p id="info-links-text">Venha ser Conpay</p>
                    <a href="https://www.facebook.com/conpaybr/" target="_blank"><img src="../assets/images/Grupo 228.svg" alt=""></a>
                    <a href="#" target="_blank"><img src="../assets/images/Grupo 227.svg" alt=""></a>
                    <a href="https://cr.linkedin.com/company/conpay" target="_blank"><img src="../assets/images/Grupo 226.svg" alt=""></a>
                    <a href="https://www.instagram.com/conpaybr/?hl=pt-br" target="_blank"><img src="../assets/images/Grupo 225.svg" alt=""></a>
                </div>
            </div>
             <!--Final-->
        </div>
    </section>

    <section class="btn-voucher">
        <span id="btn-print"><a href="#"><img src="../assets/images/btn-imprimir.svg" alt="Imprimir"></a></span>
        <a href="#">Imprimir</a>
    </section>

    <section class="bnt-voucher-mobile">
        <button>
            <img src="../assets/images/Grupo 229.svg" alt="Baixar">
            Comprovante detalhado
        </button>
    </section>
</div>